<body>
    <header class="header">
        <div class="overlay">
            <h1 class="header-title">Ресурсы</h1>
        </div>
    </header> 

    <section class="section">

        <div class="input-place">
            <input class="input-id" type="number" [(ngModel)]="id" placeholder = "Идентификатор" />
            <input class="input-name" [(ngModel)]="name" placeholder="Имя" />
            <button class="input-btn" (click)="addItem(id, name)">Добавить</button>
        </div>
        
        <table id="tbl" class="table">
            <thead>
                <tr>
                    <th>Идентификатор</th>
                    <th>Имя</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items" >
                    <td>{{item.id}}</td>
                    <td contenteditable='true'>{{item.name}}</td>
                    <td>
                        <button class="save-btn" (click)="saveItem(item.id)">Сохранить</button>
                        <button class="remove-btn" (click)="removeItem(item)">Удалить</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>

    <footer class="footer">

    </footer>

</body>